
* {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
}


.btnCss {
    margin: 0px 0px -6px 10px;
    background: rgb(70, 5, 5);
    color: #fff;
    width: 150px;
    height: 20px;
    font: 14px Verdana, Arial, Helvetica, sans-serif;
}  
  
div#m_edit #editLogList { 
    display: inline-block;  
    width: 526px;
    height: 22px;
    font: 16px/18px arial;
    line-height: 22px;
    margin: 6px 0 0 7px;
    padding: 0;
    background: transparent;
    border: 0;
    outline: 0;
    -webkit-appearance: none; 
    box-sizing: border-box; 
    
} 

div#m_edit {
    float: left;
    height: 230px;
    width: 99%;
    margin-left: 5px;
}
#m_edit h4 {
    margin: 10px 0 6px 5px;
    color: red;
    font-size: 14px;
}
#m_edit div {
    width: 100%;
    height: 200px;
    overflow: auto;
    border: 1px solid #c5c5c5;
    border-right: 1px solid #c5c5c5;
    font: 14px "Courier New", Courier, monospace;
}

div#m_edit #inputs {
    width: 439px;
    height: 32px; 
    border: 1px solid #f16464;
    border-right: 0;
    font: 14px "Courier New", Courier, monospace;
}
  
div#m_butt {
    height: 50px;
    border-bottom: 1px solid #c5c5c5;
    background: #fff;
}
div#m_butt input {
    margin: 10px 0 0 10px;
    background: red;
    color: #fff;
    width: 150px;
    height: 30px;
    font: 14px Verdana, Arial, Helvetica, sans-serif;
}


div#m_exec {
    float: left;
    height: 435px;
    width: 38%;
    margin-left: 5px;
}

#m_exec h4 {
    margin: 10px 0 6px 5px;
    color: red;
    font-size: 14px;
}
 

#m_exec div {
    width: 100%;
    height: 400px;
    overflow: auto;
    border: 1px solid #c5c5c5;
    border-right: 0;
    font: 14px "Courier New", Courier, monospace;
}

div#m_result {
    float: left;
    height: 435px;
    width: 61%;
}
#m_result h4 {
    margin: 10px 0 6px 5px;
    color: red;
    font-size: 14px;
}
div#m_result input {
    margin: 0px 0px -6px 10px;
    background: rgb(70, 5, 5);
    color: #fff;
    width: 150px;
    height: 20px;
    font: 14px Verdana, Arial, Helvetica, sans-serif;
}  
div#m_result .btn_execBatHide{
    visibility:hidden;
}
div#m_result .btn_execBatShow{
    visibility:block;
}
#m_result div {
    width: 100%;
    height: 400px;
    border: 1px solid #c5c5c5;
    overflow-y: auto;
}
#m_result textarea {
    width: 100%;
    height: 100%; 
}

#footer {
    clear: both;
    background: #fff;
    border: 1px solid #f5f5f5;
    text-align: left;
    background: #f5f5f5;
}
 

#footer p {
    margin: 10px;
    color: #000000;
    font-weight: bold;
    text-align: left;
    font: 12px Verdana, Arial, Helvetica, sans-serif;    
}
  

#toolsOnline {
    float: left;
    height: 230px;
    width: 99%;
    margin-left: 5px;
}
#toolsOnline div{
    width: 99%;
    height: 100px;
    overflow: auto;
    border: 1px solid #c5c5c5; 
    padding: 10px; 
    font: 14px "Courier New", Courier, monospace;
}


.disTop {
    height: 44px;
    background: url(/image/opacity70.png) repeat;
    line-height: 53px;
    min-width: 1024px; 
    padding-left: 10px;     
    font: 12px/1.5 MIcrosoft YaHei,Arial, Helvetica, sans-serif;
}

.zhuantiku a {
    float: left;
    padding-top: 10px;
    padding-right: 24px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

