@import "wkMenu.css";
@import "wkList.css";
@import "wkDetail.css";

body {
  font: 12px/1.5 arial,"Microsoft YaHei","\5b8b\4f53",sans-serif,tahoma;
  background: rgb(233, 224, 226); 
}

footer {  
  width: 100%;
}

footer p{  
  float: left;
  margin-right: 9px;
}